<div class="availability">
    <div>
        <div class="availability-label">Available Seats</div>
        <div class="availability-count <%= level %>" id="seat-count">
            <%= count %>
        </div>
    </div>
    <div style="text-align: right;">
        <div class="availability-label">Price per seat</div>
        <div style="color: #fff; font-size: 1.2rem;">$<%= price %>
        </div>
    </div>
</div>
<div class="update-indicator">Updated: <%= updated %>
</div>