<div class="column" id="col-<%= column.id %>">
    <%- include('column_content.ejs', { column: column, activeSprintId: typeof activeSprintId !=='undefined' ?
        activeSprintId : null }) %>
</div>